<div class="container mt-4">
  <div class="row">
    <div class="col-3">
      <ul class="list-group">
        <li class="list-group-item">類別
          <ul class="list-group">
            <li class="list-group-item">副類別</li>
            <li class="list-group-item">副類別</li>
            <li class="list-group-item">副類別</li>
            <li class="list-group-item">副類別</li>
          </ul>
        </li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">類別
          <ul class="list-group">
            <li class="list-group-item">副類別</li>
            <li class="list-group-item">副類別</li>
            <li class="list-group-item">副類別</li>
            <li class="list-group-item">副類別</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-12">
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://images.pexels.com/photos/3499599/pexels-photo-3499599.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5><%= @ad[:title]%></h5>
                  <p><%= @ad[:description]%></p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://images.pexels.com/photos/3499599/pexels-photo-3499599.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5><%= @ad[:title]%></h5>
                  <p><%= @ad[:description]%></p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://images.pexels.com/photos/3499599/pexels-photo-3499599.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5><%= @ad[:title]%></h5>
                  <p><%= @ad[:description]%></p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <% @products.each do |product| %>
          <div class="col-3">
            <div class="card">
              <%= image_tag product[:image_url], class:"card-img-top"%>
              <div class="card-body">
                <h5 class="card-title"><%= "#{product[:id]}. #{product[:name]}"%></h5>
                <p class="card-text"><%= product[:description] %></p>
                <div class="d-flex justify-content-between">
                  <a href="#" class="btn btn-primary">編輯</a>
                  <a href="#" class="btn btn-danger">刪除</a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-center">
        <div class="row mt-4">
          <div class="col-12">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <% if @page > @first_page %>
                  <li class="page-item">
                    <%= link_to root_path(page: (@page - 1)), class:"page-link" do %>
                      <span aria-hidden="true">&laquo;</span>
                    <% end %>
                  </li>
                <% end %>
                <%# <p> 如果 root_path 沒有帶(page: page_number), 在網址不會顯示 page=page_number </p> %>
                <% (@first_page..@last_page).each do |page_number| %>
                  <li class="page-item">
                    <%= link_to page_number, root_path(page: page_number), class:"page-link"%>
                </li>
                <% end %>
                <% if @page < @last_page %>
                  <li class="page-item">
                    <%= link_to root_path(page: (@page + 1)), class:"page-link" do %>
                      <span aria-hidden="true">&raquo;</span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </nav>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>

